<div class="panel panel-primary">
    <div class="panel-heading">
       {{pageTitle}}
    </div>
    <!-- search -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Search:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]="listFilter" />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6' *ngIf="listFilter">
                <h3>Searching: {{listFilter}}</h3>
            </div>
        </div>
        <!-- table -->
        <div class='table-responsive'>
            <table class='table' *ngIf='movies.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)="this.toggleImage() ">
                                {{showPoster ? 'Hide' : 'Show' }} Posters
                            </button>
                        </th>
                        <th>Movie</th>
                        <th>Starring</th>
                        <th>Available</th>
                        <th>Cost</th>
                        <th>Reviews</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let movie of movies | movieFilter:listFilter">
                        <td><img [src]="movie.imageUrl" [title]="movie.movieName"  *ngIf='showPoster'
                                 [style.width.px]="imageWidth" [style.margin.px]="imageMargin" /></td>
                        <td>{{movie.movieName}}</td>
                        <td>{{movie.movieStar | uppercase}}</td>
                        <td>{{movie.releaseDate}}</td>
                        <td>{{movie.price | currency:'USD':true:'1.2-2'}}</td><!--'1.2-2' : is to specify we want at least one number to the left of the decimal place.And two, and only two numbers, to the right of the decimal place-->
                        <!--<td>{{movie.starRating}}</td>-->
                        <td><md-movies [rating]="movie.starRating"
                                       (ratingClicked)="onRatingClicked($event)"></md-movies></td>
                    </tr> 
                </tbody>
            </table>
            <div>
            </div>
        </div>
    </div>
</div>
